<div id="header">
<h1>About Us</h1>
</div>

<div id="section">
<h3>What Does This Site Do?</h3>
<p>
Don's Weather App is a site dedicated to giving you the weather. In addition, you have the option to create categories, such as a t-shirt, and give temperatures when you would wear that type of clothing.
</p>
<p>
You also have the ability to create shirts and place them in categories. This allows the weather service to generate a list of shirts that would be appropriate for the given weather.
</p>
<p>You must be signed into the site to use these features. Every page is behind a wall except for the home page and the about page.</p>
</div>