<section class="hero-unit">
  <h1 style="text-align:center;">Don's Weather Service</h1>

  <br/>

 	<div class='action-buttons'>
    <%= link_to "Get the Weather", pages_path, class: 'btn btn-primary btn-large' %>

  </div>
</section