<h1>All Categories</h1>

<%= link_to 'Add Category Page', new_category_path %>

<% @categories.each do |cat| %>
	<li>
	<%= cat.category %>
	 <%= link_to "Edit", edit_category_path(cat) %> <%= link_to "Delete", category_path(cat), 
  method: :delete,
  data: { confirm: 'Are you sure?' } %>
 
	</li>
	<% end %>
